body {
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    color: #222;
}

a {
    color: #222;
}
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

.flex {
    display: flex;
}

.holdall {
    flex-direction: column;
    height: 100%;
}

.upper-bar {
    height: 60px;
    padding: 6px;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    
}

.upper-links {
    display: inline-block;
    padding: 5px;
    margin: 0 5px; 
}

.fill-upper-right {
    display: inline-block;
    flex-grow: 1
}

.move-RHS {
    float:right;
    padding-left: 32px;
}

.rhs-box {
    flex-direction: row;
    padding: 0px 4px 0px 30px;
    height: 48px;
    justify-content: flex-end;
    display: flex;
}

.gmail, .images {
    align-self: center;
    padding-right: 15px;
}

.user-9-box {
    position:relative;
    float: right;
    display: flex;
    align-items: center;
    padding-left: 4px;
}

.dot-9-icon {
    display:inline-block;
    padding: 15px;
    vertical-align: middle;
    align-self: center;
}

.bento-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    height: 22px;
    width: 22px;
}

.bento-dot {
    width: 5px;
    height: 5px;
    border-radius: 999px;
    background: black;
    overflow: hidden;
}

.user-circle {
    padding: 4px;
    background-color: darkorange;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.user-circle-Z {
    padding: 2px 0px;
    vertical-align: middle;
}